.footerMain{
    width: 100%;
    background-color: #434343;
    color: #eeeeee;
    padding: 10px;
}


.colFooter{
    margin-right: 0px;
    margin-left: 0px;
}

.colDiv{
    margin-right: 0px;
    margin-left: 0px;
}